/* :root {
    --primary-bg-color: #ffffff;
    --text-color: #000000;
    --link-hover-color: #0a081d;
    --text-size: 16px;
    --heading-size: 55px;
  } */

* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 10px;
    top: 30%;
    transition: margin-left 0.3s ease;

}

.navBar.closed {
    margin-left: -110px !important;
    transition: margin-left 0.3s ease;
}


.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: antiquewhite;
    padding: 10px 15px;
    border-radius: 10px;
    z-index: 1;
    width: 100px !important;
    text-align: center;
    border-right: 1px solid ;
}

.navLinks a {
    padding: 20px 10px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.menuBtn {
    background: antiquewhite;
    font-size: 18px;
    border-radius: 0 50% 50% 0;
    padding-left: 10px !important;
    margin-left: -25px !important;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px !important;
    cursor: pointer;
    transition: margin-left 0.3s ease;

}

.contents {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70vw;
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.containerImg {
    background: antiquewhite;
    display: inline-block;
    margin-top: -130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

.containerImg img {
    width: 180px;
    height: 180px;
}

.container h1 {
    margin: 10px;
}
.container a{
    padding:6px  10px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 15px;

}
.resume, .contact a {
    border: 3px solid black;
    color: brown;
}

.socialIcons {
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-items: center;
}
.socialIcons i{
    font-size: 20px;
    color: brown;
}

.container:nth-child(1) {
    margin-top: 20vh;
}

/* project-section  */

.project-more {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.project-more a {
  text-decoration: none;
  color: brown;
  border: 3px solid black;
}

/* skills section  */
.container .skill-icons img{
    height: 100%;
    width: 4vw;
    margin: 10px;
}

.view-resume {
    margin: 30px 20px;
}

/* footer session  */

footer {
    text-align: center;
}


footer p {
    color: brown;font-weight: 550;
}


