:root {
    --bg-color: #e5e0e0cb;
    --primary-color: #ffffff;
    --secondary-color: #ffc400;
    --heading-color:#230101;
    --text-color: #464444;
    /* --link-hover-color: #0a081d;
    --text-size: 16px;
    --heading-size: 55px; */
  }


* {
    /* font-family: "Ubuntu", sans-serif; */
    font-family: "Anta", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background: var(--bg-color);
    color:  var(--text-color);
}

.navbar .container-fluid{
    width: 100%;
    height: 4vh;
    color: var(--primary-color);
}

#social-links{
    position: absolute;
    left: 45%;
}

#social-links a {
    display: inline;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    padding: 50px 15px;
    font-size: 20px;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 10px;
    top: 30%;
    transition: margin-left 0.3s ease;
    z-index: 1;
}

.navBar.closed {
    margin-left: -110px !important;
    transition: margin-left 0.3s ease;
}


.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--primary-color);
    padding: 8px;
    border-radius: 10px;
    z-index: 1;
    width: 100px !important;
    text-align: center;
    border-right: 2px solid black;
}

.navLinks a {
    padding: 20px 10px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
}

.navLinks a:hover{
    color: var(--secondary-color);
}

.menuBtn {
    background: var(--primary-color);
    font-size: 18px;
    border-radius: 0 50% 50% 0;
    padding-left: 10px !important;
    margin-left: -25px !important;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px !important;
    cursor: pointer;
    transition: margin-left 0.3s ease;
    border: 2px solid black;
}

.contents {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contents h1{
    color: var(--heading-color);
}

/* about section  */

.container {
    width: 70vw;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.containerImg {
    background: var(--primary-color);
    display: inline-block;
    margin-top: -130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

.containerImg img {
    width: 180px;
    height: 180px;
}

.container h1{
    margin: 20px;
}
.container p{
 text-align: justify;
}

.container a{
    padding:6px  10px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 15px;

}
.resume, .contact a {
    border: 3px solid black;
    color: var(--secondary-color);
}

.socialIcons {
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-items: center;
}
.socialIcons i{
    font-size: 20px;
    color: var(--secondary-color);
}

.container:nth-child(1) {
    margin-top: 20vh;
}

/* project-section  */

.project-details p {
    padding: 10px 0;
}

.project-card h5 a{
    color: var(--heading-color);
}

.project-card h5 a:hover{
    border-bottom: solid 2px black;
    border-radius: 0px;
}

.project-more {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.project-more a {
  text-decoration: none;
  color: var(--secondary-color);
  border: 3px solid black;
}

/* skills section  */
.container .skill-icons img{
    height: 100%;
    width: 4vw;
    margin: 10px;
}

.view-resume {
    margin: 30px 20px;
}

/* footer session  */

footer {
    text-align: center;
}


footer p {
    color: var(--secondary-color);
    font-weight: 550;
}

.foot p span{
    color: var(--secondary-color);
}


@media (max-width: 780px) {
  .container{
    width:95vw;
    
  }

  .navBar{
    width: 100%;
    left: 0;
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    padding: 0 210px;
    border-right: none;
    border-top: black solid 1px;
    border-radius: 0px;
  }

  .menuBtn {
    display: none;
  }

  .nothing {
    height: 6vh;
  }
  
}
